<!DOCTYPE html>
<html>

<body style="background-color:yellow;">

<h1>My luv Borel Fonhoue</h1>

<p style="color:blue;margin-left:20px;">Je t'aime de tout mon coeur.</p>
<img src="{{MEDIA_URL}}photo.JPG" />
<table border="1">
<tr>
<th>First Name</th>
<th>Last Name</th>
</tr>
<tr>
<td>row 1, cell 1</td>
<td>row 1, cell 2</td>
</tr>
<tr>
<td>row 2, cell 1</td>
<td>row 2, cell 2</td>
</tr>
</table> 
<ul>
<li>Coffee</li>
<li>Milk</li>
</ul>
<div id="menu" style="background-color:#FFD700;height:200px;width:100px;float:left;">
<b>Menu</b><br>
HTML<br>
CSS<br>
JavaScript</div>
</body>
</html>
